### Mini práctica
1. Crea una base de datos llamada **etl_practica** en PostgreSQL o MySQL.
2. usa tu dataset limpio de `clients.csv`.
3. Escribe un script en Python que lo cargue en una tabla llamada **clientes_limpios**.
4. Haz una consulta en la base (`SELECT * FROM clean_clients;`) para verificar que los datos fueron insertados.

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import urllib.parse

In [13]:
# Conection data
user = 'postgres'
password = 'root'
host = 'localhost'
port = '5432'
database = 'postgres'
# Create engine conection
engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")

In [14]:
# read data
df = pd.read_csv('clean_clients.csv')
# load in 'clients' table
df.to_sql('clients',engine,if_exists='replace',index=False)
print(f"data loaded in PostgreSQL correctly")

data loaded in PostgreSQL correctly

In [15]:
# read data from database
query = "SELECT * FROM clients"
df_result = pd.read_sql(query,engine)

# print results
print(df_result)

   Unnamed: 0  id         name       city  age            email
0           0   1   Juan Perez     Madrid   25   juan@email.com
1           1   2  Maria Lopez  Barcelona   31    invalid_email
2           2   3       Carlos   Valencia   30    invalid_email
3           3   4    Ana Maria    Sevilla   31    ana@email.com
4           4   5         Luis     Madrid   45    invalid_email
5           5   6        Sofia     Bilbao   22  sofia@email.com
6           6   7  Pedro Gomez   Valencia   28    invalid_email
7           7   8        Laura     Málaga   31  laura@email.com
8           8   9       Miguel     Madrid   35    invalid_email
9           9  10        Elena   Zaragoza   31  elena@email.com